p {
	margin: 0rem;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.attr-grid {
	display: grid;
	grid-template-columns: 1fr auto 1fr auto;
	row-gap: 0.3rem;
	margin-top: 0.3rem;
}
.attr-row {
	display: contents;
}
.dest-row {
	display: flex;
	justify-content: space-between;
}
.rule-dest {
	width: 70%;
}
.rule-inner {
	padding: 1rem;
	border-style: solid;
	width: 100%;
}
.rule {
	margin-top: 1rem;
	display: flex;
	width: 50%;
}
