* {
    box-sizing: border-box;
}
p {
	margin: 0rem;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
table, th, td {
	border: 1px solid;
	border-collapse: collapse;
}
.attr-grid {
	display: grid;
	grid-template-columns: 1fr auto 1fr auto;
	row-gap: 0.3rem;
	margin-top: 0.3rem;
}
.attr-row {
	display: contents;
}
.dest-row {
	display: flex;
	justify-content: space-between;
}
.rule-dest {
	width: 70%;
}
.rule-inner {
	padding: 1rem;
	border-style: solid;
	width: 100%;

}
.rule {
	margin-top: 1rem;
	display: flex;
}
#frame {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#rules-outer, #history-outer {
	width: 40%;
}
.history {
	margin-top: 1rem;
}
.history-attr-grid {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    margin-top: 0.3rem;
}

.history-attr-grid td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}
.history-buttons {
	display: flex;
}
.history-to-rule, .history-redownload {
	width: 100%;
}
